@media (min-width: 768px) {
    .card {
        width: 18vw;
    }

    .header h1 {
        font-size: 400%;
        letter-spacing: 4px;
    }

    .navbar .nav-link {
        font-size: 110%;
    }

    .form-control::placeholder {
        color: #a9a9a9;
        font-size: 80%;
    }

    .brand-emphasis {
        font-size: 130%;
        font-weight: 500;
    }

    .about p {
        font-size: 110%;
    }

    .wrapper img {
        height: 25vh;
    }
}
